@model IEnumerable<SDS_SanadDistributedSystem.Models.temporal>

@{
    ViewBag.Title = "أشخاص ببيانات غير مستكملة";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>أشخاص ببيانات غير مستكملة</h2>

<p>
    @Html.ActionLink("إضافة استمارة مؤقتة جديدة", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fathername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mothername)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.phone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currentaddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tempregistrationdate)
        </th>
        <th>
            اسم المركز
            @*@Html.DisplayNameFor(model => model.center.name)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fathername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mothername)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.phone1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.currentaddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tempregistrationdate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.center.name)
            </td>
            <td>
                @Html.ActionLink("تعديل", "Edit", new { id = item.idperson }) |
                @Html.ActionLink("تفاصيل", "Details", new { id = item.idperson }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.idperson })
            </td>
        </tr>
    }

</table>
