@model IEnumerable<SDS_SanadDistributedSystem.Models.temporal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fathername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mothername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthplace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.martial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.relationtype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.flag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.onoffflag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.education)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.educationstate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currentaddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tempregistrationdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.formnumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.center.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fathername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mothername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthplace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.martial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.relationtype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.flag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.onoffflag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.education)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.educationstate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currentaddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tempregistrationdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.formnumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.center.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idperson }) |
            @Html.ActionLink("Details", "Details", new { id=item.idperson }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idperson })
        </td>
    </tr>
}

</table>
