@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html id="top-section">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link runat='server' rel="shortcut icon" href="~/Images/sanad.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/Images/sanad.ico" type="image/ico" />
 
    <title>@ViewBag.Title - نظام سند الموزع</title>
    <link href="~/Content/Site.css" rel="stylesheet" />

    @*<link href="tooltip-extended.css" rel="stylesheet">
    <script src="bootstrap-tooltip-extended.js"></script>*@

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using System.Web.Security
    
    @*@{*@ 
       @*// var new= خدمات مشروع سند;*@

    @*}*@
</head>



<body class="fixed-sn mdb-skin bg-skin-lp container-fluid" style="padding-top:50px;">
    
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@



        <header>
            <marquee direction="right" bgcolor="#1B2838" loop="infinity" behavior="scroll" scrollamount="5">
                <font color="#fff">
                    @if (ViewBag.ServicesBar != null)
                    {
                        <span>
                            خدمات مشروع سند
                        </span>
                            <span>
                                &copy; @DateTime.Now.Year
                            </span>
                            <img src="~/Images/sanad.ico">
                    }
                    @if (ViewBag.ServicesBar != null)
                    {
                        foreach (var item in ViewBag.ServicesBar)
                        {
                            System.Collections.Generic.HashSet<SDS_SanadDistributedSystem.Models.centerservice> c = (System.Collections.Generic.HashSet<SDS_SanadDistributedSystem.Models.centerservice>)item.centerservices;
                            var cs = c.ToList();
                            var allcenter = "";
                            foreach (var item2 in cs)
                            {
                                if (item2.enabled)
                                {
                                    allcenter += item2.center.name;

                                    if (cs.Count > 1)
                                    { allcenter = allcenter + "  "; }
                                }
                            }

                            <span>الخدمة:</span>

                            @item.name
                            <span>--</span>
                                <span>الوصف:</span>

                                @item.description
                                <span>--</span>
                                <span>المراكز:</span>

                                <span>@allcenter</span>
                                <img src="~/Images/sanad.ico">
                        }
                    }

                    
                    @if (ViewBag.ServicesBar != null)
                    {
                        <span>
                            خدمات مشروع سند
                        </span>
                            <span>
                                &copy; @DateTime.Now.Year
                            </span>
                    }
                </font>
            </marquee>


           
            <!-- Sidebar navigation -->
            <ul id="slide-out" class="side-nav fixed sn-bg-1 custom-scrollbar" style="width: initial; width: fit-content;">


                <!-- Logo -->
                <li>
                    <div class="logo-wrapper waves-light special-logo" style="width: 310px;height:200px;">
                        @*special-logo : style.css*@
                        @*<a href="#"><img src="~/images/sanad.jpg" class="img-fluid flex-center z-depth-1 rounded-circle logo"></a> ~/images/birr.jpg*@
                    </div>
                </li>

                <!--/. Logo -->



                <!--Social-->
                @*<li>
                <ul class="social">
                    <li><a href="https://www.facebook.com/sanad.albirr/" class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a></li>
                    <li><a class="icons-sm pin-ic"><i class="fa fa-pinterest"> </i></a></li>
                    <li><a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a></li>
                    <li><a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a></li>
                </ul>
            </li>
                <!--/Social-->
                <!--Search Form-->
                @*<li>*@
                @*<form class="search-form" role="search">
                    <div class="form-group waves-light">
                       <input type="text" class="col-lg-10" placeholder="بحث" >
                     </div>
                </form>
            </li>*@
                <!--/.Search Form-->
                <!-- Side navigation links -->

                @*<li>
                    
                 
                    <div class="form-group waves-light">
                    
                     </div>
                 
                </li>*@

                    <li>
                    <ul class="collapsible collapsible-accordion">
                        @*<li>
                        <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-chevron-right"></i> Submit blog<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a href="#" class="waves-effect">Submit listing</a>
                                </li>
                                <li>
                                    <a href="#" class="waves-effect">Registration form</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-hand-pointer-o"></i> Instruction<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a href="#" class="waves-effect">For bloggers</a>
                                </li>
                                <li>
                                    <a href="#" class="waves-effect">For authors</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-eye"></i> About<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a href="#" class="waves-effect">Introduction</a>
                                </li>
                                <li>
                                    <a href="#" class="waves-effect">Monthly meetings</a>
                                </li>
                            </ul>
                        </div>
                    </li>*@
                        @*<li>
                        <a class="collapsible-header waves-effect arrow-r"><i ></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; للتواصل معنا   <i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li>
                                    <a href="#" class="waves-effect">FAQ</a>
                                </li>
                                <li>
                                    <a href="#" class="waves-effect">Write a message</a>
                                </li>
                            </ul>
                        </div>
                    </li>*@
                        @if (User.IsInRole("cmEducation"))
                    {

                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  القسم التعليمي   <i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>

                                    <li >
                                        <a href="~/referalpersons/IndexByRN?rm=cmEducation" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="color:white"></i> الصفحة الرئيسية </a>
                                      @*@Html.ActionLink(" الصفحة الرئيسية ", "IndexByRN", "referalpersons", new { rm = "cmEducation" }, htmlAttributes: new { @class = "fa fa-home waves-effect", @style = "color:white" })*@
                                    </li>

                                </ul>
                            </div>
                        </li>
                    }

                    @if (User.IsInRole("cmProfessional"))
                    {
                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  القسم المهني   <i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>

                                    <li >
                                        <a href="~/referalpersons/IndexByRN?rm=cmProfessional" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="color:white"></i> الصفحة الرئيسية </a>
                                        @*@Html.ActionLink(" الصفحة الرئيسية ", "IndexByRN", "referalpersons", new { rm = "cmProfessional" }, htmlAttributes: new { @class = "fa fa-home waves-effect", @style = "color:white" })*@

                                    </li>

                                </ul>
                            </div>
                        </li>
                    }

                    @if (User.IsInRole("cmChildProtection"))
                    {
                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  حماية الطفل   <i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>

                                    <li>
                                        <a href="~/referalpersons/IndexByRN?rm=cmChildProtection" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="color:white"></i> الصفحة الرئيسية </a>
                                      @*@Html.ActionLink(" الصفحة الرئيسية ", "IndexByRN", "referalpersons", new { rm = "cmChildProtection" }, htmlAttributes: new { @class = "fa fa-home waves-effect", @style = "color:white" })*@
                                    </li>

                                </ul>
                            </div>
                        </li>


                    }
                    @if (User.IsInRole("cmPsychologicalSupport1"))
                    {
                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; مرشد نفسي   <i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>

                                    <li>
                                        <a href="~/referalpersons/IndexByRN?rm=cmPsychologicalSupport1" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="color:white"></i> الصفحة الرئيسية </a>
                                        @*@Html.ActionLink(" الصفحة الرئيسية ", "IndexByRN", "referalpersons", new { rm = "cmPsychologicalSupport1" }, htmlAttributes: new { @class = "fa fa-home waves-effect", @style = "color:white" })*@
                                    </li>

                                </ul>
                            </div>
                        </li>


                    }
                    @if (User.IsInRole("cmPsychologicalSupport2"))
                    {
                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; مسؤول تأهيل منزلي  <i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>

                                    <li>
                                        <a href="~/referalpersons/IndexByRN?rm=cmPsychologicalSupport2" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="color:white"></i> الصفحة الرئيسية </a>
                                        @*@Html.ActionLink(" الصفحة الرئيسية ", "IndexByRN", "referalpersons", new { rm = "cmPsychologicalSupport2" }, htmlAttributes: new { @class = " fa fa-home waves-effect", @style = "color:white" })*@
                                    </li>

                                </ul>
                            </div>
                        </li>


                    }
                    @if (User.IsInRole("cmPsychologicalSupport3"))
                    {
                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; مسؤول أنشطة   <i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>

                                    <li>
                                        <a href="~/referalpersons/IndexByRN?rm=cmPsychologicalSupport3" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="color:white"></i> الصفحة الرئيسية </a>
                                        @*@Html.ActionLink(" الصفحة الرئيسية ", "IndexByRN", "referalpersons", new { rm = "cmPsychologicalSupport3" }, htmlAttributes: new { @class = " fa fa-home waves-effect", @style = "color:white" })*@
                                    </li>

                                </ul>
                            </div>
                        </li>


                    }
                        @if (User.IsInRole("cmHomeCare"))
                        {
                            <li>
                                <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  الرعاية المنزلية   <i class="fa fa-angle-down rotate-icon"></i></a>
                                <div class="collapsible-body">
                                    <ul>

                                        <li>
                                            <a href="~/referalpersons/IndexByRN?rm=cmHomeCare" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="color:white"></i> الصفحة الرئيسية </a>
                                            @*@Html.ActionLink(" الصفحة الرئيسية ", "IndexByRN", "referalpersons", new { rm = "cmDayCare" }, htmlAttributes: new { @class = " fa fa-home waves-effect", @style = "color:white" })*@
                                        </li>

                                    </ul>
                                </div>
                            </li>


                        }

                    @if (User.IsInRole("cmDayCare"))
                    {
                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  الرعاية النهارية   <i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>

                                    <li>
                                        <a href="~/referalpersons/IndexByRN?rm=cmDayCare" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="color:white"></i> الصفحة الرئيسية </a>
                                        @*@Html.ActionLink(" الصفحة الرئيسية ", "IndexByRN", "referalpersons", new { rm = "cmDayCare" }, htmlAttributes: new { @class = " fa fa-home waves-effect", @style = "color:white" })*@
                                    </li>

                                </ul>
                            </div>
                        </li>


                    }

                    @if (User.IsInRole("cmAwareness"))
                    {
                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  التوعية    <i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>

                                    <li>
                                        <a href="~/referalpersons/IndexByRN?rm=cmAwareness" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="color:white"></i> الصفحة الرئيسية </a>
                                        @*@Html.ActionLink(" الصفحة الرئيسية ", "IndexByRN", "referalpersons", new { rm = "cmAwareness" }, htmlAttributes: new { @class = "fa fa-home waves-effect", @style = "color:white" })*@
                                    </li>

                                </ul>
                            </div>
                        </li>
                    }

                    @if (User.IsInRole("cmSmallProjects"))
                    {
                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  المشاريع الصغيرة   <i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>

                                    <li>
                                        <a href="~/referalpersons/IndexByRN?rm=cmSmallProjects" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="color:white"></i> الصفحة الرئيسية </a>
                                        @*@Html.ActionLink(" الصفحة الرئيسية ", "IndexByRN", "referalpersons", new { rm = "cmSmallProjects" }, htmlAttributes: new { @class = "fa fa-home waves-effect", @style = "color:white" })*@
                                    </li>

                                </ul>
                            </div>
                        </li>
                    }
                    @if (User.IsInRole("cmIOutReachTeam"))
                    {
                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  فريق وصول  <i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>

                                    <li>
                                        <a href="~/referalpersons/IndexOutReach" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="color:white"></i> الصفحة الرئيسية </a>
                                        @*@Html.ActionLink(" الصفحة الرئيسية ", "IndexByRN", "referalpersons", new { rm = "cmIOutReachTeam" }, htmlAttributes: new { @class = "fa fa-home waves-effect", @style = "color:white" })*@
                                    </li>

                                </ul>
                            </div>
                        </li>
                    }
                    @if (User.IsInRole("cmInkindAssistance"))
                    {
                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  المساعدات العينية   <i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>

                                    <li>
                                        <a href="~/referalpersons/IndexByRN?rm=cmInkindAssistance" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="color:white"></i> الصفحة الرئيسية </a>
                                        @*@Html.ActionLink(" الصفحة الرئيسية ", "IndexByRN", "referalpersons", new { rm = "cmInkindAssistance" }, htmlAttributes: new { @class = "fa fa-home waves-effect", @style = "color:white" })*@
                                    </li>

                                </ul>
                            </div>
                        </li>
                    }

                    @if (User.IsInRole("coEducation"))
                    {

                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  القسم التعليمي   <i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>

                                    <li>
                                        @*@Html.ActionLink(" الصفحة الرئيسية ", "IndexCoByRN", "referalpersons", new { rm = "cmEducation" }, htmlAttributes: new { @class = "fa fa-home waves-effect", @style = "color:white" })*@
                                        <a href="~/referalpersons/IndexCoByRN?rm=cmEducation" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="color:white"></i> الصفحة الرئيسية </a>
                                    </li>
                                    <li>

                                        @*@Html.ActionLink(" الخدمات ", "Index", "centerservices", new { }, htmlAttributes: new { @class = "fa fa-list waves-effect" ,@style = "color:white" })*@
                                        <a href="~/centerservices/Index" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-list" style="color:white"></i> الخدمات </a>

                                    </li>

                                </ul>
                            </div>
                        </li>
                    }
                    @if (User.IsInRole("coProfessional"))
                    {

                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  القسم المهني   <i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>

                                    <li>
                                        @*@Html.ActionLink(" الصفحة الرئيسية ", "IndexCoByRN", "referalpersons", new { rm = "cmProfessional" }, htmlAttributes: new { @class = "fa fa-home waves-effect", @style = "color:white" })*@
                                        <a href="~/referalpersons/IndexCoByRN?rm=cmProfessional" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="color:white"></i> الصفحة الرئيسية </a>
                                    </li>
                                    <li>
                                        @*@Html.ActionLink(" الخدمات ", "Index", "centerservices", new { }, htmlAttributes: new { @class = "fa fa-list waves-effect", @style = "color:white" })*@
                                        <a href="~/centerservices/Index" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-list" style="color:white"></i> الخدمات </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    }
                    @if (User.IsInRole("coChildProtection"))
                    {

                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  قسم حماية الطفل   <i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>

                                    <li>
                                        @*@Html.ActionLink(" الصفحة الرئيسية ", "IndexCoByRN", "referalpersons", new { rm = "cmChildProtection" }, htmlAttributes: new { @class = "fa fa-home waves-effect", @style = "color:white" })*@
                                        <a href="~/referalpersons/IndexCoByRN?rm=cmChildProtection" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="color:white"></i> الصفحة الرئيسية </a>
                                    </li>
                                    <li>
                                       @*@Html.ActionLink(" الخدمات ", "Index", "centerservices", new { }, htmlAttributes: new { @class = "fa fa-list waves-effect", @style = "color:white" })*@
                                        <a href="~/centerservices/Index" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-list" style="color:white"></i> الخدمات </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    }
                    @if (User.IsInRole("coPsychologicalSupport"))
                    {

                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;   الدعم النفسي   <i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>

                                    <li>
                                        @*@Html.ActionLink(" الصفحة الرئيسية ", "IndexCoByRN", "referalpersons", new { rm = "PsychologicalSupport" }, htmlAttributes: new { @class = "fa fa-home waves-effect", @style = "color:white" })*@
                                        <a href="~/referalpersons/IndexCoByRN?rm=psychologicalSupport" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="color:white"></i> الصفحة الرئيسية </a>
                                    </li>
                                    <li>
                                      @*@Html.ActionLink(" الخدمات ", "Index", "centerservices", new { }, htmlAttributes: new { @class = "fa fa-list waves-effect", @style = "color:white" })*@
                                        <a href="~/centerservices/Index" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-list" style="color:white"></i> الخدمات </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    }

                    @if (User.IsInRole("coDayCare"))
                    {

                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  قسم الرعاية النهارية    <i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>

                                    <li>
                                        @*@Html.ActionLink(" الصفحة الرئيسية ", "IndexCoByRN", "referalpersons", new { rm = "cmDayCare" }, htmlAttributes: new { @class = "fa fa-home waves-effect ", @style = "color:white" })*@
                                        <a href="~/referalpersons/IndexCoByRN?rm=cmDayCare" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="color:white"></i> الصفحة الرئيسية </a>
                                    </li>
                                    <li>
                                       @*@Html.ActionLink(" الخدمات ", "Index", "centerservices", new { }, htmlAttributes: new { @class = "fa fa-list waves-effect", @style = "color:white" })*@
                                        <a href="~/centerservices/Index" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-list" style="color:white"></i> الخدمات </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    }
                    @if (User.IsInRole("coHomeCare"))
                    {

                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  قسم الرعاية المنزلة    <i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>

                                    <li>
                                        @*@Html.ActionLink(" الصفحة الرئيسية ", "IndexCoByRN", "referalpersons", new { rm = "cmHomeCare" }, htmlAttributes: new { @class = "fa fa-home waves-effect", @style = "color:white" })*@
                                        <a href="~/referalpersons/IndexCoByRN?rm=cmHomeCare" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="color:white"></i> الصفحة الرئيسية </a>
                                    </li>
                                    <li>

                                      @*@Html.ActionLink(" الخدمات ", "Index", "centerservices", new { }, htmlAttributes: new { @class = "fa fa-list waves-effect", @style = "color:white" })*@
                                        <a href="~/centerservices/Index" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-list" style="color:white"></i> الخدمات </a>

                                    </li>

                                </ul>
                            </div>
                        </li>
                    }
                    @if (User.IsInRole("coAwareness"))
                    {

                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  قسم التوعية     <i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>

                                    <li>
                                        @*@Html.ActionLink(" الصفحة الرئيسية ", "IndexCoByRN", "referalpersons", new { rm = "cmAwareness" }, htmlAttributes: new { @class = "fa fa-home waves-effect", @style = "color:white" })*@
                                        <a href="~/referalpersons/IndexCoByRN?rm=cmAwareness" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="color:white"></i> الصفحة الرئيسية </a>
                                    </li>
                                    <li>
                                    @*@Html.ActionLink(" الخدمات ", "Index", "centerservices", new { }, htmlAttributes: new { @class = "fa fa-list waves-effect", @style = "color:white" })*@
                                        <a href="~/centerservices/Index" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-list" style="color:white"></i> الخدمات </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    }

                    @if (User.IsInRole("coSmallProjects"))
                    {

                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;   المشاريع الصغيرة     <i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>

                                    <li>
                                        @*@Html.ActionLink(" الصفحة الرئيسية ", "IndexCoByRN", "referalpersons", new { rm = "cmSmallProjects" }, htmlAttributes: new { @class = "fa fa-home waves-effect", @style = "color:white" })*@
                                        <a href="~/referalpersons/IndexCoByRN?rm=cmSmallProjects" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="color:white"></i> الصفحة الرئيسية </a>
                                    </li>
                                    <li>
                                        @*@Html.ActionLink(" الخدمات ", "Index", "centerservices", new { }, htmlAttributes: new { @class = "fa fa-list waves-effect", @style = "color:white" })*@
                                        <a href="~/centerservices/Index" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-list" style="color:white"></i> الخدمات </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    }
                    @if (User.IsInRole("coOutReachTeam"))
                    {

                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;   فريق وصول     <i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>

                                    <li>
                                        @*@Html.ActionLink(" الصفحة الرئيسية ", "IndexCoByRN", "referalpersons", new { rm = "coOutReachTeam" }, htmlAttributes: new { @class = "fa fa-home waves-effect", @style = "color:white" })*@
                                        <a href="~/referalpersons/IndexCoByRN?rm=coOutReachTeam" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="color:white"></i> الصفحة الرئيسية </a>
                                    </li>
                                    <li>
                                     @*@Html.ActionLink(" الخدمات ", "Index", "centerservices", new { }, htmlAttributes: new { @class = "fa fa-list waves-effect", @style = "color:white" })*@
                                        <a href="~/centerservices/Index" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-list" style="color:white"></i> الخدمات </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    }

                    @if (User.IsInRole("coInkindAssistance"))
                    {

                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  المساعدات العينية     <i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>

                                    <li>
                                        @*@Html.ActionLink(" الصفحة الرئيسية ", "IndexCoByRN", "referalpersons", new { rm = "cmInkindAssistance" }, htmlAttributes: new { @class = "fa fa-home waves-effect", @style = "color:white" })*@
                                        <a href="~/referalpersons/IndexCoByRN?rm=cmInkindAssistance" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="color:white"></i> الصفحة الرئيسية </a>
                                    </li>
                                    <li>
                                        @*@Html.ActionLink(" الخدمات ", "Index", "centerservices", new { }, htmlAttributes: new { @class = "fa fa-list waves-effect", @style = "color:white" })*@
                                        <a href="~/centerservices/Index" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-list" style="color:white"></i> الخدمات </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    }

                        @*@if (User.IsInRole("cmEducation") || User.IsInRole("cmProfessional") || User.IsInRole("cmChildProtection")
|| User.IsInRole("cmPsychologicalSupport1") || User.IsInRole("cmPsychologicalSupport2") || User.IsInRole("cmPsychologicalSupport3")
|| User.IsInRole("cmDayCare") || User.IsInRole("cmHomeCare") || User.IsInRole("cmAwareness")
|| User.IsInRole("cmSmallProjects") || User.IsInRole("cmIOutReachTeam") || User.IsInRole("cmInkindAssistance")
)
                        {

                            //var current_user_roles = Roles.GetRolesForUser(User.Identity.Name);
                            <li>
                                
                                
                                    <li>
                                        <a href="~/referalpersons/IndexByRN?rm=cmDayCare" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-list" style="color:white"></i> الإحالات</a>
                                        @Html.ActionLink("الإحالات", "IndexByRN", "referalpersons", new { rm = "cmDayCare" }, htmlAttributes: new { @class = "fa fa-home waves-effect" })
                                    </li>
                             </li>

                        }*@

                        @if (User.IsInRole("admin"))
                        {
                            <li>
                                <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; المستخدمين   <i class="fa fa-angle-down rotate-icon"></i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="~/Account/Register" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-plus-circle" style="color:white"></i> إضافة مستخدم</a>
                                        </li>
                                        <li>
                                            <a href="~/AspNetUsers/index" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-list" style="color:white"></i> كافة المستخدمين</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="collapsible-header waves-effect arrow-r"> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;المراكز<i class="fa fa-angle-down rotate-icon"></i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="~/Centers/Create" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-plus-circle" style="color:white"></i> إضافة مركز </a>
                                        </li>
                                        <li>
                                            <a href="~/Centers/index" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-list" style="color:white"></i> كافة المراكز</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; الخدمات   <i class="fa fa-angle-down rotate-icon"></i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="~/Services/Create" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-plus-circle" style="color:white"></i> إضافة خدمة</a>
                                        </li>
                                        <li>
                                            <a href="~/Services/index" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-list" style="color:white"></i> كافة الخدمات</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="collapsible-header waves-effect arrow-r"> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;القوائم المدارة<i class="fa fa-angle-down rotate-icon"></i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="~/managelists/Create" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-plus-circle" style="color:white"></i> إضافة عنصر جديد </a>
                                        </li>
                                        <li>
                                            <a href="~/managelists/index" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-list" style="color:white"></i> كافة العناصر</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("receptionist") || User.IsInRole("cmIOutReachTeam"))
                        {
                            <li>
                                <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  العائلات المسجلة   <i class="fa fa-angle-down rotate-icon"></i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="~/families/index" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-users" style="color:white"></i> كافة العائلات المسجلة</a>
                                        </li>
                                        @if (User.IsInRole("receptionist"))
                                        {
                                            <li>
                                                <a href="~/families/Create" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-plus-circle" style="color:white"></i> إضافة عائلة</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; الأشخاص المسجلين   <i class="fa fa-angle-down rotate-icon" style="color:white"></i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="~/people/index" class="waves-effect"> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-users" style="color:white"></i> كافة الأشخاص المسجلين</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; بيانات بحاجة لاستكمال   <i class="fa fa-angle-down rotate-icon" style="color:white"></i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="~/temporals/Index" class="waves-effect"> &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-users" style="color:white"></i> كافة الأشخاص</a>
                                        </li>
                                        @if (User.IsInRole("receptionist"))
                                        {
                                            <li>
                                                <a href="~/temporals/Create" class="waves-effect"> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-user-plus" style="color:white"></i> إضافة شخص</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("cmSGBV"))
                        {
                            <li>
                                <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  الحالات السرية   <i class="fa fa-angle-down rotate-icon" style="color:white"></i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="~/secretPeople/index" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-user-secret" style="color:white"></i> كافة الحالات المسجلة</a>
                                        </li>
                                        <li>
                                            <a href="~/secretPeople/Create" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-plus-circle" style="color:white"></i> حالة جديدة</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }

                        @if (User.IsInRole("reporter"))
                        {
                            <li>
                                <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  معد التقارير   <i class="fa fa-angle-down rotate-icon" style="color:white"></i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="~/Reporting/index" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-list" style="color:white"></i> إعداد تقرير </a>
                                        </li>
                                        <li>
                                            <a href="~/Reporting/ChartIndex" class="waves-effect">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-list" style="color:white"></i>  مخططات وإحصائيات </a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </li>   
                        }

                        @Html.Partial("_LoginPartial")

                    </ul>

                </li>
                <!--/. Side navigation links -->
                @*<div class="sidenav-bg mask-strong"></div>*@
            </ul>
            <!--/. Sidebar navigation -->
            <!-- Navbar -->
            <nav class="navbar navbar-fixed-top mobile-fixed navbar-toggleable-md navbar-dark scrolling-navbar  top-nav-collapse">
                <!-- SideNav slide-out button -->
                <div class="float-right" style="direction:ltr">
                    <a href="#" data-activates="slide-out" class="button-collapse" style="color:#fff;cursor:pointer"><i class="fa fa-bars"></i></a>
                </div>
                <!-- Breadcrumb-->
                <div class="breadcrumb-dn mr-auto float-left">
                   @Html.Partial("_NotificationBell")
                </div>
            </nav>
        </header>
    <main style="margin-right: 0px;margin-left: 0px;padding-top: 0px;">
        
        <div class="container-fluid" id="ParentDiv">
            <div id="content" style="height: 100%;">
                @RenderBody()
                <span id="toTop" class="smooth-scroll" style="position:fixed; bottom: 10px; left: 20px; z-index:99;">
                    <a href="#top-section" class="btn-floating btn-large" style="background-color:#1b2838">
                        <i class="fa fa-arrow-up"></i>
                    </a>
                </span>
                </div>
                <footer class="footer">
                    <p>&copy; @DateTime.Now.Year - جميع الحقوق محفوظة لصالح جمعية البر والخدمات الاجتماعية - سند </p>
                    <p>       طوّر بواسطة مكتب تقانة المعلومات      </p>
                </footer>
            </div>
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script src="~/Scripts/signalRJS.js"></script>
    <script src='https://cdn.rawgit.com/admsev/jquery-play-sound/master/jquery.playSound.js'></script>
    
                  
    @RenderSection("scripts", required: false)

    </body>
</html>
