<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

 
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .noti-content {
            position: fixed;
            right: 100px;
            background: #e5e5e5;
            border-radius: 4px;
            top: 47px;
            width: 250px;
            display: none;
            border: 1px solid #9E988B;
        }

        ul#notiContent {
            max-height: 200px;
            overflow: auto;
            padding: 0px;
            margin: 0px;
            padding-left: 20px;
        }

            ul#notiContent li {
                margin: 3px;
                padding: 6px;
                background: #FFF;
            }

        .noti-top-arrow {
            border-color: transparent;
            border-bottom-color: #F5DEB3;
            border-style: dashed dashed solid;
            border-width: 0 8.5px 8.5px;
            position: absolute;
            right: 23px;
            top: -8px;
        }

        span.noti {
            color: #FFF;
            margin: 15px;
            position: fixed;
            right: 109px;
            top:0pc;
            font-size: 18px;
            cursor: pointer;
        }

        span.count {
            position: relative;
            top: -3px;
        }
    </style>

</head>
<body class="fixed-sn mdb-skin bg-skin-lp" style="padding-top:50px;">
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@



        <header>
            <!-- Sidebar navigation -->
            <ul id="slide-out" class="side-nav fixed sn-bg-1 custom-scrollbar">
                <!-- Logo -->
                <li>
                    <div class="logo-wrapper waves-light special-logo">
                        @*special-logo : style.css*@
                        @*<a href="#"><img src="" class="img-fluid flex-center z-depth-1 rounded-circle logo"></a> @*~/images/birr.jpg*@
                    </div>
                </li>
                <!--/. Logo -->
                <!--Social-->
                <li>
                    <ul class="social">
                        <li><a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a></li>
                        <li><a class="icons-sm pin-ic"><i class="fa fa-pinterest"> </i></a></li>
                        <li><a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a></li>
                        <li><a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a></li>
                    </ul>
                </li>
                <!--/Social-->
                <!--Search Form-->
                <li>
                    <form class="search-form" role="search">
                        <div class="form-group waves-light">
                            <input type="text" class="col-lg-10" placeholder="بحث">
                        </div>
                    </form>
                </li>
                <!--/.Search Form-->
                <!-- Side navigation links -->
                <li>
                    <ul class="collapsible collapsible-accordion">
                        @*<li>
                            <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-chevron-right"></i> Submit blog<i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a href="#" class="waves-effect">Submit listing</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">Registration form</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-hand-pointer-o"></i> Instruction<i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a href="#" class="waves-effect">For bloggers</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">For authors</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-eye"></i> About<i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a href="#" class="waves-effect">Introduction</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">Monthly meetings</a>
                                    </li>
                                </ul>
                            </div>
                        </li>*@
                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i ></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; للتواصل معنا   <i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li>
                                        <a href="#" class="waves-effect">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="#" class="waves-effect">Write a message</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        @if (User.IsInRole("admin"))
                        {
                            <li>
                                <a class="collapsible-header waves-effect arrow-r"><i></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; المستخدمين   <i class="fa fa-angle-down rotate-icon"></i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="~/Account/Register" class="waves-effect">إضافة مستخدم</a>
                                        </li>
                                        <li>
                                            <a href="~/AspNetUsers/index" class="waves-effect">كافة المستخدمين</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="collapsible-header waves-effect arrow-r"> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;المراكز<i class="fa fa-angle-down rotate-icon"></i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="~/Centers/Create" class="waves-effect">إضافة مركز</a> 
                                        </li>
                                        <li>
                                            <a href="~/Centers/index" class="waves-effect">كافة المراكز</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="collapsible-header waves-effect arrow-r"><i ></i>  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; الخدمات   <i class="fa fa-angle-down rotate-icon"></i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li>
                                            <a href="~/Services/Create" class="waves-effect">إضافة خدمة</a>
                                        </li>
                                        <li>
                                            <a href="~/Services/index" class="waves-effect">كافة الخدمات</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }
                        

                        @Html.Partial("_LoginPartial")
                    </ul>
                </li>
                <!--/. Side navigation links -->
                @*<div class="sidenav-bg mask-strong"></div>*@
            </ul>
            <!--/. Sidebar navigation -->
            <!-- Navbar -->
            <nav class="navbar navbar-fixed-top mobile-nofixed navbar-toggleable-md navbar-dark scrolling-navbar  top-nav-collapse">
                <!-- SideNav slide-out button -->
                <div class="float-right" style="direction:ltr">
                    <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
                </div>
                <!-- Breadcrumb-->
                <div class="breadcrumb-dn mr-auto float-left">
                    <span class="noti fa fa-bell"><span class="count">&nbsp; </span></span>
                    <div class="noti-content">
                        <div class="noti-top-arrow"></div>
                        <ul id="notiContent"></ul>
                    </div>
                </div>
            </nav>
        </header>
    <main>
        <div class="container-fluid" id="ParentDiv">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - جميع الحقوق محفوظة لصالح جمعية البر والخدمات الاجتماعية </p>
            </footer>
        </div>
    </main>
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/signalRJS.js"></script>
   
                  
    @RenderSection("scripts", required: false)

    </body>
</html>
