@model SDS_SanadDistributedSystem.Models.center

@{
    ViewBag.Title = "Details";
}

<h2>تفاصيل</h2>

<div>
    <h4>مركز</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.flag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.flag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.min_family_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.min_family_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.max_family_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.max_family_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.min_person_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.min_person_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.max_person_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.max_person_id)
        </dd>

        <dt>
@*            @Html.DisplayNameFor(model => model.partner.name)*@
            الشريك
        </dt>

        <dd>
            @Html.DisplayFor(model => model.partner.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.idcenter }) |
    @Html.ActionLink("عودة إلى القائمة", "Index")
</p>

