@model IEnumerable<SDS_SanadDistributedSystem.Models.family>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm())
    {
    <p>
       Family ID: @Html.TextBox("familyID") Last Name: @Html.TextBox("LastName")<br />
        <input type="submit" value="Filter" />
        
    </p>
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model=>model.idfamily)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.familynature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.personcount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastaddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currentaddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.displacementdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>

        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem=>item.idfamily)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.familynature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.personcount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastaddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currentaddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.displacementdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idfamily }) |
            @Html.ActionLink("Details", "Details", new { id=item.idfamily }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idfamily })
        </td>
        <td>
            @*@Html.ActionLink("إضافة شخص","Create","people", new { id = item.idfamily})*@
            <a href="/people/Create/@item.idfamily">إضافة شخص</a>
        </td>
    </tr>
}

</table>
