@model SDS_SanadDistributedSystem.Models.personmanage

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>personmanage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.eval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.managelist.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.managelist.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.person.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.person.fname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
