@model SDS_SanadDistributedSystem.Models.person

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fathername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fathername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mothername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mothername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthplace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthplace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.martial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.martial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.relationtype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.relationtype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.onoffflag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.onoffflag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.educationstate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.educationstate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currentaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currentaddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.registrationdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.registrationdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.formnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.formnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nationalnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nationalnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.center.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.center.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.family.familynature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.family.familynature)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
