@model IEnumerable<SDS_SanadDistributedSystem.Models.person>

@{
    ViewBag.Title = "كافة الأشخاص المسجلين";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>كافة الأشخاص المسجلين</h2>

<p>
    @Html.ActionLink("إضافة شخص جديد", "Index", "families")

    @using (Html.BeginForm())
    {
    <p>    
        <div class="md-form">
            @Html.Editor("LastName","", new { htmlAttributes = new { @class = "form-control", @placeholder = "البحث حسب الاسم الأخير" } })
        </div>
        <div class="md-form">
            @Html.Editor("NationalNumber","", new { htmlAttributes = new { @class = "form-control",@placeholder = "البحث حسب الرقم الوطني" } })
        </div>
        <input type="submit" value="بحث" class="btn btn-default" />
        @*<div class="input-group md-form form-sm form-1 pl-0">
            <span class="input-group-addon cyan lighten-2" id="basic-addon1"><i class="fa fa-search text-white" aria-hidden="true"></i></span>
            <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
        </div>*@
    </p>
    }

</p>
<table class="table" id="familymembers">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idperson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fathername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mothername)
        </th>
        <th>
            العمر
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.registrationdate)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idperson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fathername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mothername)
            </td>
            <td>
                @{
                    var dob = item.birthday.GetValueOrDefault();
                    DateTime now = DateTime.Today;
                    int age = now.Year - dob.Year;
                    if (now < dob.AddYears(age))
                    { age--; }
                    @Html.DisplayFor(model => age);
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
    <td>@Html.DisplayFor(modelItem=>item.registrationdate)</td>
            
            <td>
                @Html.ActionLink("تعديل", "Edit", new { id = item.idperson }) |
                @Html.ActionLink("تفاصيل", "Details", new { id = item.idperson }) |
                @Html.ActionLink("حذف", "Delete", new { id = item.idperson })
            </td>
        </tr>                             }

</table>

