@model IEnumerable<SDS_SanadDistributedSystem.Models.person>


@{
    ViewBag.Title = "كافة الأشخاص المسجلين";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>
    كافة الأشخاص المسجلين

    @if (User.IsInRole("receptionist"))
    {
        <small>@Html.ActionLink(" ", "Index", "families", null, new { @class = "btn btn-default btn-rounded p-2 fa fa-user-plus", @title = "إضافة شخص جديد" })</small>
    }
</h2>


@*@if (User.IsInRole("receptionist"))
    {
        @Html.ActionLink("إضافة شخص جديد", "Index", "families")
    }*@

@using (Html.BeginForm())
{
    <p>
        <div class="md-form col-md-6">
            @Html.Editor("full_name", "", new { htmlAttributes = new { @class = "form-control", @placeholder = "فلترة حسب الاسم الثلاثي" } })
        </div>
        <div class="md-form col-md-6">
            @Html.Editor("NationalNumber", "", new { htmlAttributes = new { @class = "form-control", @placeholder = "فلترة حسب الرقم الوطني" } })
        </div>
        @*<div class="md-form col-md-4">
                @Html.Editor("age", "", new { htmlAttributes = new { @class = "form-control", @placeholder = "فلترة حسب العمر" } })
            </div>*@
        <input type="submit" value="بحث" class="btn btn-default hidden" />
        @*<div class="input-group md-form form-sm form-1 pl-0">
                <span class="input-group-addon cyan lighten-2" id="basic-addon1"><i class="fa fa-search text-white" aria-hidden="true"></i></span>
                <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
            </div>*@
    </p>
}


<table class="table table-hover" id="familymembers">
    @*<thead >*@
    <tr class="wow fadeIn">
        <th>
            @Html.DisplayNameFor(model => model.serial_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.family_order_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.full_name)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fathername)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.mothername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nationalnumber)
        </th>
        @*<th>
                @Html.DisplayNameFor(model=>model.registrationdate)
            </th>*@
        @*<th></th>*@
        <th></th>
    </tr>
    @*</thead>*@

    @foreach (var item in Model)
    {

        if (!item.is_secret)
        {
            <tr class="wow fadeIn">
                <td>
                    @Html.DisplayFor(modelItem => item.serial_number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.family_order_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.full_name)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.fname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fathername)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.mothername)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.age)
                    @*@{
                            var dob = item.birthday.GetValueOrDefault();
                            DateTime now = DateTime.Today;
                            int age = now.Year - dob.Year;
                            if (now < dob.AddYears(age))
                            { age--; }
                            @Html.DisplayFor(model => age);
                        }*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nationalnumber)
                </td>
                @*      <td>@Html.DisplayFor(modelItem => item.registrationdate)</td>*@

                <td class="text-center">
                    @*@Html.ActionLink("تفاصيل", "Details", "people", new { id = item.idperson }, new { @class = "btn btn-primary btn-rounded p-0" })
                        @Html.ActionLink("تعديل", "Edit", "people", new { id = item.idperson }, new { @class = "btn btn-warning btn-rounded p-0" })
                        @Html.ActionLink("إحالة", "personReferal", "referalpersons", new { id = item.idperson }, new { @class = "btn btn-secondary btn-rounded p-0" })*@

                    @Html.ActionLink(" ", "Edit", "people", new { id = item.idperson }, new { @class = "btn btn-warning btn-rounded fa fa-edit p-1", @title = "تعديل" })
                    @Html.ActionLink(" ", "Details", "people", new { id = @item.idperson }, new { @class = "btn btn-primary btn-rounded fa fa-id-card-o p-1", @title = "تفاصيل" })

                    @Html.ActionLink(" ", "Details", "families", new { id = item.idfamily_FK }, new { @class = "btn btn-default btn-rounded p-1 fa fa-users", @title = "عرض صفحة العائلة" })
                    @Html.ActionLink(" ", "personReferal", "referalpersons", new { id = item.idperson }, new { @class = "btn btn-secondary btn-rounded p-1 fa fa-exchange", @title = "إحالة" })



                    @*|@Html.ActionLink("حذف", "Delete", new { id = item.idperson })*@
                </td>

            </tr>
        }
    }

</table>





<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="email" id="defaultForm-email" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
                </div>

                <div class="md-form mb-4">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="defaultForm-pass" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-default">Login</button>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Launch Modal Login Form</a>
</div>
