@model SDS_SanadDistributedSystem.Models.family

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>family</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.familynature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.familynature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.personcount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personcount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastaddress_details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastaddress_details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currentaddress_details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currentaddress_details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.displacementdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.displacementdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone1owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone1owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone2owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone2owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.evaluation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.evaluation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.formnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.formnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serial_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serial_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.family_book_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.family_book_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.family_head)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.family_head)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_visited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_visited)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_visit_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_visit_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.center.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.center.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idfamily }) |
    @Html.ActionLink("Back to List", "Index")
</p>
