@model SDS_SanadDistributedSystem.Models.referalfamily

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>referalfamily</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.submittingdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.submittingdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referalstate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referalstate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referaldate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referaldate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicestate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicestate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicestartdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicestartdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviceenddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviceenddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.senderevalution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senderevalution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recieverevalution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recieverevalution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.outreachnote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.outreachnote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.case.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.case.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.center.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.center.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.service.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.service.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.family.familynature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.family.familynature)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
